models_and_calibrations/
transfert_matrix/
CHERAB/
images/
COMPASS/
WEST/
machine_COMPASS/
machine_WEST/
mat_saves/
Tomography/ressources/
inversion/
inversion_matrix/
raytracing/
__pycache__/
*.pyc
*.pyo
*.pyd
*.nbc
*.nbi
